<!-- Padding already done in margin bottom -->
<div class="pt-6 sm:pt-5">
  <!-- Margin left 10 as the svgs below are shifted left 10  -->
  <ol class="relative border-l border-gray-200 ml-10">
    {% for item in site.data.timeline %}
    <li class="mb-10 sm:ml-20 ml-16">
      <a href="{{ item.link }}">
        <div class="flex flex-row items-center">
          <!-- Github svg is circular so looks much bigger -->
          <img
            src="{{ item.svg_path }}"
            class="absolute {% if item.svg_size == 's' %} sm:w-8 sm:-left-4 w-7 -left-3.5 {% elsif item.svg_size == 'm' %} sm:w-14 sm:-left-7 w-12 -left-6 {% elsif item.svg_size == 'l' %} sm:w-24 sm:-left-12 w-20 -left-10 {% endif %} bg-white"
            alt="icon"
          />
          <h3 class="mb-1 text-lg font-semibold text-gray-900">
            {{ item.title}}
          </h3>
        </div>
      </a>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-400">
        {{ item.date }}
      </time>
      <p class="text-base font-normal text-gray-500 text-justify">
        {{ item.description }}
      </p>
    </li>
    {% endfor %}
  </ol>
</div>
