---
layout: default
---

<div class="">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$']  ],
        processEscapes: true
      }
    });
  </script>
  <script
    type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
  ></script>
  <hr />
  <div class="pt-4 grid justify-items-center">
    <h1 class="text-2xl text-gray-800 pb-0.5">{{ page.title }}</h1>
    <p class="text-gray-500 text-sm pb-1">
      {{ page.date | date_to_string: "ordinal" }}
    </p>
    <p class="text-gray-600 pb-4 text-[17px] italic">{{ page.summary }}</p>
  </div>
  <article class="justify-self-start prose">{{ content }}</article>
</div>
